<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html>-->
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
    <style>
        body {
          border: 5px solid green; /* Цветная рамка */
          margin: 0; /* Убираем отступы по умолчанию */
          padding: 20px; /* Добавляем внутренние отступы для контента */
      }

      table {
      border-collapse: collapse; /* Убирает двойные линии между ячейками */
          border: 2px solid black; /* Рамка вокруг всей таблицы */
      }

      th, td {
          border: 1px solid black; /* Рамка вокруг каждой ячейки */
          padding: 8px; /* Внутренние отступы для ячеек */
          text-align: center; /* Выравнивание текста по центру */
      }
    </style>
</head>

<body>
<table>
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Номер телефона</th>
        <th>Email</th>
        <th>Роль</th>
    </tr>
    <tr th:each="client : ${clients}">
        <td th:text="${client.client_id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.number}"></td>
        <td th:text="${client.email}"></td>
        <td th:text="${client.role}"></td>
        <td>
            <a th:href="@{/admin/clients/delete/{id}(id=${client.client_id})}">Delete</a>
        </td>
    </tr>
</table>


<div id="addForm">
    <h2>Добавьте нового клиента</h2>
    <form >

        <!--    <label for="client_id">ID:</label>-->
        <!--    <input type="number" id="client_id" name="{client_id}"><br><br>-->

        <label for="addName">ФИО:</label>
        <input type="text" id="addName" required/><br><br>

        <label for="addNumber">Номер телефона:</label>
        <input type="text" id="addNumber" required/><br><br>

        <label for="addEmail">Email:</label>
        <input type="text" id="addEmail" required/><br><br>

        <label for="addPassword">Пароль:</label>
        <input type="password" id="addPassword" required/>

        <label for="addRole">Роль:</label>
        <input type="text" id="addRole" required/>

        <button type="submit">Добавить</button>
    </form>
</div>

<div class="edit-form" >
    <h2>Редактировать клиента</h2>
    <form id="editForm" >
        <label for="client_id">ID:</label>
        <input type="number" id="client_id" required/><br><br>

        <label for="editName">ФИО:</label>
        <input type="text" id="editName" required/><br><br>

        <label for="editNumber">Номер телефона:</label>
        <input type="text" id="editNumber" required/><br><br>

        <label for="editEmail">Email:</label>
        <input type="text" id="editEmail" required/><br><br>

        <label for="editPassword">Пароль:</label>
        <input type="password" id="editPassword" required/>

        <label for="editRole">Роль:</label>
        <input type="text" id="editRole" required/>

        <button type="submit">Сохранить</button>
    </form>
</div>

<script>
    document.getElementById('addForm').addEventListener('submit', function (event) {
       event.preventDefault();

       const newClient = {
           name: document.getElementById('addName').value,
           number: document.getElementById('addNumber').value,
           email: document.getElementById('addEmail').value,
           password: document.getElementById('addPassword').value,
           role: document.getElementById('addRole').value,
       };

       fetch('/admin/clients', {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json',
           },
           body: JSON.stringify(newClient),
       })
           .then(response => {
               if (!response.ok) {
                   throw new Error(`HTTP error! status: ${response.status}`);
               }
               return response.json();
           })
           .then(data => {
               alert(data.message);
               location.reload();
           })
           .catch(error => {
               console.error('Ошибка', error);
               location.reload();
           });
   });

document.getElementById('editForm').addEventListener('submit', function (event) {
    event.preventDefault();

    const client_id = document.getElementById('client_id').value;

    const updatedClient = {
         name: document.getElementById('editName').value,
           number: document.getElementById('editNumber').value,
           email: document.getElementById('editEmail').value,
           password: document.getElementById('editPassword').value,
           role: document.getElementById('editRole').value,
    };

    fetch(`/admin/clients/${client_id}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(updatedClient),
    })

    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        alert(data.message);
        location.reload();
     })
    .catch(error => {
<!--        console.error('Ошибка редактирования:', error);-->
<!--        alert('Объект отредактирован');-->
        location.reload();
    });
});
</script>

</body>
</html>